{% js vendor %}
{% js main %}
<section class="footer-container">
  <section class="fatty-footer">
    <section class="footer-logo">
      <img src="/img/logo_02.png" alt="Logo" width="40px" height="40px">
      <h3>Mom</h3>
    </section>
    <section class="footer-links">
      <section class="footer-row1">
        <section class="foot-col1">
          <a class="bold" href="">{{page.product}}</a>
          <a class="sub-topic" href="">{{page.features}}</a>
          <a class="sub-topic" href="">{{page.pricing}}</a>
          <a class="sub-topic" href="">{{page.freetrial}}</a>
        </section>
        <section class="foot-col1">
          <a class="bold" href="">{{page.learn}}</a>
          <a class="sub-topic" href="">{{page.blog}}</a>
          <a class="sub-topic" href="">{{page.meeting}}</a>
        </section>
      </section>
      <section class="footer-row1">
      <section class="foot-col1">
        <a class="bold" href="">{{page.company}}</a>
        <a class="sub-topic" href="">{{page.privacy}}</a>
        <a class="sub-topic" href="">{{page.terms}}</a>
        <a class="sub-topic" href="">{{page.contact}}</a>
      </section>
      <section class="foot-col1">
        <a class="bold" href="">{{page.social}}</a>
        <a class="sub-topic" href="">{{page.facebook}}</a>
        <a class="sub-topic" href="">{{page.twitter}}</a>
        <a class="sub-topic" href="">{{page.linkedin}}</a>
        <a class="sub-topic" href="">{{page.googleplus}}</a>
      </section>
      </section>
    </section>
  </section> 
  <section class="footer">
    <p class="footer-text">{{ page.copyright }}</p>
  </section>
</section>
