<!--{% js vendor %}
{% js main %}-->
<section class="footer-container">
  <section class="fatty-footer">
    <img src="/img/logo_02.png" alt="Logo" width="50px" height="50px">
    <section class="foot-col1">
      <a class="bold" href="">{{page.product}}</a>
      <a href="">{{page.features}}</a>
      <a href="">{{page.pricing}}</a>
      <a href="">{{page.freetrial}}</a>
    </section>
    <section class="foot-col1">
      <a class="bold" href="">{{page.learn}}</a>
      <a href="">{{page.blog}}</a>
      <a href="">{{page.meeting}}</a>
    </section>
    <section class="foot-col1">
      <a class="bold" href="">{{page.company}}</a>
      <a href="">{{page.privacy}}</a>
      <a href="">{{page.terms}}</a>
      <a href="">{{page.contact}}</a>
    </section>
    <section class="foot-col1">
      <a class="bold" href="">{{page.social}}</a>
      <a href="">{{page.facebook}}</a>
      <a href="">{{page.twitter}}</a>
      <a href="">{{page.linkedin}}</a>
      <a href="">{{googleplus}}</a>
    </section>
  </section>
  <section class="footer">
    <p class="footer-text">{{ page.copyright }}</a>
  </section>
</section>
