<header class="mom-header">
  <div class="hcontainer1">
    <img src="/img/logo_02.png" alt = "LogoImg" width="50px" height="50px">
    <h2>MoM</h2>
  </div>
  <div class="hcontainer">
    <ul>
      <li><a href="">{{ page.pricing }}</a></li>
      <li><a href="/blog.html">{{ page.blog }}</a></li>
      <li><a href="/login.html">{{ page.login }}</a></li>
      <li><a id="signup_nav" href="/signup.html">{{ page.signupfree }}</a></li>
    </ul>
  </div>
  <button class="hamburger">
    <i  class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="menu">
    <ul>
      <li><a href="">{{ page.pricing }}</a></li>
      <li><a href="/blog.html">{{ page.blog }}</a></li>
      <li><a href="/login.html">{{ page.login }}</a></li>
      <li><a id="signup_nav_menu" href="/signup.html">{{ page.signupfree }}</a></li>
    </ul>
  </div>
  <button class="cancel">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
  
</header>
