<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

  {% if include.title %}
  <title>{{ include.title }}</title>
  {% else %}
  <title>HU UI Track</title>
  {% endif %}
  
  <meta name="description" content="Welcome to the Hashedin app for My meeting notes, that lets you create personalised notes on the go.">
  <meta name="author" content="Hashedin">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  {% css vendor %}
  {% css main %}
  {% seo %}
</head>
